<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Campus power outages | Emerald</title>
    <style>
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #map-canvas {
      	height: 100%;
      }
      #explain {
      	position: fixed;
      	top: 0;
      	right: 0;
      	width: 170px;
      	padding-left: 20px;
 		background: #FFF;
      	border-bottom-left-radius: 10px;
      	border-top: 1px solid #CCC;
      	border-bottom: 1px solid #CCC;
      }
      #explain p {
      	vertical-align: middle;
      	padding-right: 10px;
      	font-family: "Helvetica Neue"
      }
      #explain img {
      	display: inline-block;
      	vertical-align: middle;
      }
      .infobox {
      	padding: 10px;
      }
      .infobox h2, .infobox p {
      	margin: 0;
      	padding: 0;
      }
      .infobox p {
      	font-size: 12px;
      }
      .infobox .details {
      	font-size: 25px;
      	line-height: 1.1em;
      	margin: 20px 0;
      }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
	var geocoder;
	var map;
	var infowindow;
	function initialize() {
	  geocoder = new google.maps.Geocoder();
	  var latlng = new google.maps.LatLng(44.044568,-123.074899);
	  var mapOptions = {
	    zoom: 14,
	    center: latlng
	  }
	  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	  infowindow = new google.maps.InfoWindow();
	}

	google.maps.event.addDomListener(window, 'load', initialize);

	function wiggle() {
		var w = (Math.random() - 0.5) / 3000;		
		return w;
	}

	$(document).ready(function() {
		$.getJSON("/data.json").success(function(data) {	
			$('.total-count').html(data.length + " entries.");		
			data.forEach(function(item, index) {
				//console.log(item.status);
				var icon_img;

				if (item.status == "Still Out") {
					icon_img = "http://maps.google.com/mapfiles/ms/icons/red-dot.png"

				} else if (item.status == "No (it was earlier)") {
					icon_img = "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"

				} else if (item.status == "No (never was)") {
					icon_img = "http://maps.google.com/mapfiles/ms/icons/green-dot.png"

				} else {
					console.log("ERROR for icon image", item.status)
				}
				try {
					var marker = new google.maps.Marker({
						icon: icon_img,
						map: map,
			          	position: new google.maps.LatLng(item.geocoded.lat+wiggle(), item.geocoded.lng+wiggle()),
			          	title: item.address
			      	});			

			      	var content = "<div class='infobox'>";
			      	content += "<p class='timestamp'>" + item.timestamp + "</p>";
			      	content += "<h2>" + item.where_do_you_live + "</h2>";
			      	content += "<p class='status'>Power out? <b>" + item.status + "</b></p>";
			      	if (item['what_s_going_on_outside'] != null) {
			      		content += "<p class='details'>\"" + item['what_s_going_on_outside'] + "\"</p>";
			      	}
			      	content += "</div>";
			      	console.log(content);

					google.maps.event.addListener(marker, "click", function () {						
						infowindow.close();
						infowindow.setContent(content);
						infowindow.open(map, this);
					});
				} catch(e) {
					console.log('error building marker for', item, e)
				}
			});
		}).error(function(data) {
			alert("Error getting data.", data);
		});
	});

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="explain">
    	<p class="total-count"></p>
    	<p><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"> Power is out</p>
    	<p><img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"> Power was out</p>
    	<p><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"> Power is OK</p>
    	<p><a href="http://dailyemerald.com/topics/uo-snow-day/">Related Emerald stories</a></p>
    	<p><a href="http://dailyemerald.com/2014/02/09/do-you-have-power/">Add yourself to this map</a></p>
    </div>
  </body>
</html>